<!doctype html>
<!--
    Don't mind the formatting.. Swig is messing this up but I'll try fixing it later.
-->
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Default title{% endblock %}</title>
        
        {% block head %}
            {% if app.dev %}
                <link rel="stylesheet" href="/css/style.css">
                <link rel="stylesheet" href="/css/test.css">
            {% else %}
                {{ assetify.css.emit() }}
            {% endif %}
        {% endblock head %}
    </head>
    <body>
        {% block content %}Default content{% endblock %}
        
        {% block scripts %}
            {% if app.dev %}
                <script src="/js/main.js"></script>
            {% else %}
                {{ assetify.js.emit() }}
            {% endif %}
        {% endblock scripts %}
    </body>
</html>