<!doctype html>
<!--
    Don't mind the formatting.. Swig is messing this up but I'll try fixing it later.
-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE_edge,chrome=1">
        <meta name="description" content="TODO: DESCRIPTION">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>{% block title %}Default title{% endblock %}</title>
        
        {% block head %}
            {% if app.dev %}
                <link rel="stylesheet" href="/css/style.css">
                <link rel="stylesheet" href="/css/test.css">
            {% else %}
                {{ assetify.css.emit() }}
                {#<link rel="stylesheet" href="/build/assets/build/css/all.css">#}
            {% endif %}
        {% endblock head %}
    </head>
    <body>
        {% block content %}Default content{% endblock %}
        
        {% block scripts %}
            {% if app.dev %}
                <script src="/js/main.js"></script>
            {% else %}
                {{ assetify.js.emit() }}
                {#<script src="/build/assets/build/js/all.js"></script>#}
            {% endif %}
        {% endblock scripts %}
    </body>
</html>