<!doctype html>
<!--
    Don't mind the formatting.. Swig is messing this up but I'll try fixing it later.
-->
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Default title{% endblock %}</title>
        
        {% block head %}
            {{ assetify.css.emit() }}
        {% endblock head %}
    </head>
    <body>
        {% block content %}{% endblock %}
        
        {% block scripts %}
            {{ assetify.js.emit() }}
        {% endblock scripts %}
    </body>
</html>